.modal {
	text-align: left;
	background: #fff;
	width: 100%;
	max-width: 480px;
	-webkit-border-radius: 10px 10px 5px 5px;
	   -moz-border-radius: 10px 10px 5px 5px;
	        border-radius: 10px 10px 5px 5px;
	overflow: hidden;
}
.modal header,
.modal section,
.modal footer {
	padding: 15px;
	position: relative;
}
.modal header {
	background: #0f81b2;
}
.modal header > :first-child {
	font-size: 18px;
	letter-spacing: 0.05em;
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 1;
}
.modal > section > :first-child {
	margin-top: 0;
}
.modal > section > :last-child {
	margin-bottom: 0;
}
